
    {{#if signinError}}
        <p class="alert">{{signinError}}</p>
    {{/if}}


<div class="container">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="card-img-left1 d-none d-md-flex">
                    <!-- Background image for card set in CSS! -->
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Зарегестрироваться</h5>
                    <form action="/auth/signin" method="POST" class="form-signin">
                        <div class="form-label-group">
                            <input type="email" name="email" id="email" class="form-control" placeholder="Email address" required>
                            <label for="email">Email адрес</label>
                        </div>
                        <div class="form-label-group">
                            <input type="text" name="name" id="name" class="form-control" placeholder="Ваше имя" required>
                            <label for="name">Ваше имя</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
                            <label for="password">Пароль</label>
                        </div>
                        <div class="form-label-group">
                            <input type="password" name="confirm" id="confirm" class="form-control" placeholder="Повторите пароль" required>
                            <label for="confirm">Повторите пароль</label>
                        </div>
                        <input type="hidden" name="_csrf" value="{{csrf}}">
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Зарегестрироваться</button>
                        <a class="d-block text-center mt-2 small" href="login">Войти</a>
                        <hr class="my-4">
                        <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign up with Google</button>
                        <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign up with Facebook</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>