<h1>Упссс, такой страницы не найдено</h1>
<p><img  src="https://media2.giphy.com/media/XftgiBWR1ya5FswTSE/giphy.gif?cid=790b761133a050136d77141123a038d3da8764813aaa9d03&rid=giphy.gif" alt=""></p>
<a href="/">Home page</a>