<div class="jumbotron">
    <h1 class="display-4">B2B Площадка</h1>
    <p class="lead">Находите новые контакты, ищите заказчиков.
        Выкладывайте новые вакансии и быстро находите партнеров.
        Мы хотим сделать вашу жизнь проще, поэтому создали этот сервис.</p>
    <hr class="my-4">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-3 col-xl-3">
                <div class="card bg-c-yellow order-card">
                    <div class="card-block">
                        <h6 class="m-b-20">Простой интерфейс </h6>
                        <p class="text-left">Всего одна форма, и другие пользователи смогут найти вашу фирму</p>

                    </div>
                </div>
            </div>

            <div class="col-md-3 col-xl-3">
                <div class="card bg-c-yellow order-card">
                    <div class="card-block">
                        <h6 class="m-b-20">Система карточек</h6>
                        <p class="text-left">Откройте карточку фирмы, там много полезной информации</p>

                    </div>
                </div>
            </div>

            <div class="col-md-3 col-xl-3">
                <div class="card bg-c-yellow order-card">
                    <div class="card-block">
                        <h6 class="m-b-20">Удобный поиск </h6>
                        <p class="text-left">Попробуйте, вы легко можете найти интересную вам фирму</p>

                    </div>
                </div>
            </div>

            <div class="col-md-3 col-xl-3">
                <div class="card bg-c-yellow order-card">
                    <div class="card-block">
                        <h6 class="m-b-20">Новый функционал </h6>
                        <p class="text-left">Мы не стоим на месте, площадка постоянно обновляется</p>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-outline-warning" href="/courses" role="button">Посмотреть фирмы</a>
    </p>
</div>


